.login {
  position: relative;

  .back-button {
    position: absolute;
    top: 10px;
    left: 40px;
    cursor: pointer;
    z-index: 100;
  }

  .login-title-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-title {
      color: #eb0808;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 3rem;
      background-color: rgba(252, 249, 249, 0.1);
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
      width: 100%;
      max-width: 400px;

      .ant-form {
       
        width: 100%;

        .ant-form-item {
          
          width: 100%;
        }

        .ant-form-item-label > label {       
          color: #faf5f5;
          font-weight: 600;
        }

        .ant-input {          
          background-color: transparent !important; // trong suốt
          color: #fff; // chữ trắng (hoặc màu bạn muốn)
          border: 1px solid #e7dfd0;
          padding: 0.5rem 5px;
          border-radius: 4px;
          font-size: 1.1rem;
          width: 100%;
          max-width: 100%;

          &::placeholder {
            color: rgba(247, 242, 242, 0.7); // placeholder mờ
          }
        }
      }

      .form-footer {
        width: 100%;
        text-align: right;

        .forgot-link {
          color: #fff;
          font-size: 0.9rem;
          text-decoration: underline;   // thêm dòng này
          cursor: pointer;
          &:hover {
            color: #1677ff; // đổi màu khi hover (tùy chọn)
          }
         }
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        width: 100%;

        .login-btn {
          background-color: #1677ff; // xanh dương
          color: #fff;
          width: 48%;
          height: 40px;
          font-weight: bold;
        }

        .register-btn {
          background-color: #ffeb3b; // vàng
          color: #000;
          width: 48%;
          height: 40px;
          font-weight: bold;
        }
      }

      .social-login {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
      }
    }
  }
}
