.forgot-password {
  position: relative;

  .back-button {
    position: absolute;
    top: 10px;
    left: 40px;
    cursor: pointer;
    z-index: 100;
  }

  .forgot-password-title-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .forgot-password-title {
      color: #eb0808;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 3rem;
      background-color: rgba(252, 249, 249, 0.1);
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
      width: 100%;
      max-width: 400px;

      .description {
        color: #faf5f5;
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 0.95rem;
      }

      .ant-form {
        width: 100%;

        .ant-form-item {
          width: 100%;
        }

        .ant-form-item-label > label {
          color: #faf5f5;
          font-weight: 600;
        }

        .ant-input {
          background-color: transparent !important;
          color: #fff;
          border: 1px solid #e7dfd0;
          padding: 0.5rem 5px;
          border-radius: 4px;
          font-size: 1.1rem;
          width: 100%;
          max-width: 100%;

          &::placeholder {
            color: rgba(247, 242, 242, 0.7);
          }
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-top: 1rem;
        width: 100%;

        .submit-btn {
          background-color: #1677ff;
          color: #fff;
          width: 100%;
          height: 40px;
          font-weight: bold;
        }

        .back-btn {
          background-color: transparent;
          color: #fff;
          border: 1px solid #e7dfd0;
          width: 100%;
          height: 40px;
          font-weight: bold;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border-color: #1677ff;
          }
        }
      }
    }
  }
}

