.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  //background: #423f3f;
  padding: 0 60px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  box-shadow: 0 0 5px #00bfff, 0 0 10px #00bfff, 0 0 15px #00bfff, 0 0 20px #00bfff;
  .logo {
    display: flex;
    align-items: center;
    gap: 1px;
    

    .logo-img {
      height: 40px;   
      object-fit: contain;
      filter: brightness(0) invert(1);
    }
    
    .logo-text {
      margin-left: 5%;
      font-size: 15px;   
      font-weight: bold;
      color: #ff4d4f;   
      line-height: 1;
    }
  }

  .menu {
    flex: 1;
    display: flex;
    font-size: 18px;
    margin-left: 550px; 
    justify-content: flex-start;
    border-bottom: none;
    background: transparent;
    color: #fff;
    .ant-menu-overflow-item-rest {
    display: none !important; 
  }
  .ant-menu-item a {
    color: #fff;
  }
}
 .user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  .user-fullname {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
  }
  .user-avatar {
    background-color: #fff;
    color: #000;
    .anticon {
      color: #000;
    }
  }
}
}

