.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 60px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    gap: 1px;

    .logo-img {
      height: 100px;     }
    
    .logo-text {
      font-size: 24px;   
      font-weight: bold;
      color: #ff4d4f;   
      line-height: 1;
    }
  }

  .menu {
    flex: 1;
    display: flex;
    font-size: 18px;
    margin-left: 20px;
    justify-content: flex-start;
    border-bottom: none;
    .ant-menu-overflow-item-rest {
    display: none !important; 
  }
  
}
 
}

